<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>haooo</title>
</head>

<body>
  <p>haihaihaii</p>
  </div>
  <div style="color: beige;" style="text-align: left;">
    <table class="tabel">
  </div>
  <tr>
    <td>
      <% for( const s of apaya) { %>
        <li>
          <%= s.name %>(<%= s.email %>)<a href="/delete/<%= s.id %>">hapus</a>
        </li>
        <% } %>
    </td>
  </tr>
  </table>
</body>
</html>